<div class="page">
  <div class="page-header">
    <h3 class="page-title">
      {{magicCrud.crudTitle}}
      {{teste}}
    </h3>
  </div>
  <div class="page-body">
      {{magic-form
        model=model
        errors=errors
        definitions=MagicCrud.form
        submitted=submitted}}
  </div>
</div>
