h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: bold;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

table,
.table {
  &.table-sm {
    font-size: 85%;
  }

  > tbody {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }
}

.text-ellipsis {
  @include text-overflow;
  white-space: nowrap;
}
