$icon-font-path: '../assets/vendor/bootstrap/fonts/';
$fa-font-path: '../assets/vendor/font-awesome/fonts/';

$gravatar-size: 30px !default;

$grid-float-breakpoint: 1015px; //$screen-md-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
