@media print {
  body {
    font-size: 8px;
  }

  .table-responsive {
    overflow: visible !important;
    border: none;
    box-shadow: none;
  }

  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 5px;
  }
}
