<button class="btn btn-primary btn-sm" type="button" name="button" {{action 'sendAction' 'goToAction' 'edit' record.id}}>
  {{fa-icon 'pencil' fixedWidth=true}} Edit
</button>
<button class="btn btn-danger btn-sm" type="button" name="button" {{action 'sendAction' 'goToAction' 'delete' record}}>
  {{fa-icon 'trash' fixedWidth=true}} Remove
</button>
